<div class="container-4">
    <div class="display-3">Successfully Paid ! <br>Delivery details would be sent to you via E-mail. <br>
        <hr>
        <p class="lead">Thanks for Shopping with us</p>
    </div>
</div>